<style>
body{margin:0;font-family:Arial; font-size:13px;}
#playlist{width:30%;float:left;position:fixed;}
#media{width:65%;float:left;position:absolute;left:33%;}
#media a:link{text-decoration:none;color:#00C7FF;}
#media a:visited{text-decoration:none;color:#00C7FF;}
#media a:hover{color:#000;}
#media ul {padding-left:0;list-style:none;}
#mixer{top:10px;position:relative;padding:0 10px;}
#application{position:fixed;width:100%;background-color:#eee;z-index:10;padding:10px;color:#fff;font-weight:bold;}
.on{background-color:#ddd !important;}
.even{clear:both;height:16px;padding:4px;margin:0 0 1px 0;}
.odd{background-color:#eee;clear:both;height:16px;padding:4px;margin:0 0 1px 0;}
.artist{width:35%;display:block;float:left;}
.title{width:35%;display:block;float:left;font-weight:normal;}
.length{width:10%;display:block;float:left;font-weight:normal;}
.date{width:20%;display:block;float:left;font-weight:normal;}
.db-button {margin:0 3px 0 0;border:1px blue solid;padding:0.5em;-moz-border-radius:7px;background-color:blue;text-decoration:none;color:#fff;text-transform:uppercase;font-size:0.75em;font-weight:bold;}
.db-player {border:1px lightblue solid;padding:0.5em;-moz-border-radius:15px;background-color:lightblue;color:#fff;font-family:Arial, sans-serif;}
.db-playlist {border:1px #eee solid;padding:0.5em;-moz-border-radius:15px;background-color:#eee;color:#666;font-family:Arial, sans-serif;}
.db-playlist ul {padding-left:0;list-style:none;}
.db-playlist li {clear:both;height:16px;padding:4px;margin:0 0 1px 0;border-bottom:1px #ddd solid;}
.db-info {color:#000;}
.db-download {background-color:lightgreen;border:1px lightgreen solid;}
.db-share {background-color:orange;border:1px lightgreen solid;}
.grip {padding:0 5px 0 0;}
</style>
<script src="/media/jquery-1.2.6.min.js"></script>
<div id="mixer">
<div id="playlist">{{playlist_html}}</div>
<div id="media">
<form>
<input type="textfield" name="search" value="{% if kwargs.has_key('search') %}{{kwargs['search']}}{% endif %}"/>
<input type="submit" value="Search"/>
</form>
{% for a in directories %}
{{a[0].title}}
<ul>
<li>
<span class="artist">Artist</span> 
<span class="title">Title</span> 
<span class="length">Length</span> 
<span class="date">Date</span>
</li>
{% for t in a[1] %}
<a href="/subtract/{{uuid}}/{{t.audio_title}}/{{t.file}}{{url_suffix}}">
<li id="{{t.file}}" class="{{t.audio_title}}{% if t.current %} on{% endif %} {{ loop.cycle('odd', 'even') }}">
<strong>
{% if t.current %}
{% else %}
{% if uuid %}<a href="/add/{{uuid}}/{{t.audio_title}}/{{t.file}}{{url_suffix}}">
{% else %}<a href="/new/{{t.audio_title}}/{{t.file}}{{url_suffix}}">
{% endif %}{% endif %}
<span class="artist">{{t.artist|truncate(length=35,end="...")}}</span>
<span class="title">{{t.title|truncate(length=30,end="...")}}</span>
<span class="length">{{t.length|sec_to_min}}</span>
<span class="date">{{t.date}}</span>
</strong>
</li>
</a>
{% endfor %}
</ul>
{% endfor %}
</div>
</div>
<script>
Array.prototype.remove = function(from, to) {
var rest = this.slice((to || from) + 1 || this.length);
this.length = from < 0 ? this.length + from : from;
return this.push.apply(this, rest);
};
function AudioPlaylist(){
this.tracks=[]
this.uuid
this.choices = jQuery("{% for a in directories %} .{{a[0].title}} {% endfor %}")
};
AudioPlaylist.prototype = {
addTrack:function(src,dir){
if(this.tracks.length > 0){this.tracks.unshift([src,dir])}
else{this.tracks.push([src,dir])}
this.put();
},
removeTrack:function(src,dir){var pos;
for(var i=0,len=this.tracks.length;i<len;i++){
if(this.tracks[i].toSource() == [src,dir].toSource()){pos=i}
}
this.tracks.remove(pos);
this.put();
},
get:function(x){this.uuid=x;
jQuery("#playlist").load("/" + this.uuid);},
put:function(src){
jQuery("#playlist").innerHTML = "";
jQuery.ajax({
type:"PUT",
url:"/",
data:"audio_files="+this.tracks.toSource(),
success: this.get
})}};
p = new AudioPlaylist();
//p.choices.click(function(){
//if(this.className.search("on") == -1){
//p.addTrack(this.id,this.className);this.className = this.className+" on";
//}else if(this.className.search("on") >= 0){
//this.className = this.className.replace(" on","");p.removeTrack(this.id,this.classNa//me);}});
{% if uuid %}p.uuid = "{{uuid}}"{% endif %}
{% if playlist %}p.tracks = {{playlist}} {% endif %}
</script>
