<div id='dublab-playlist-{{id}}' class='db-player'>
<div id='dublab-display-{{id}}'>
<h1 id='dublab-title-{{id}}'>Title</h1>
<p id='dublab-info-{{id}}' class="db-info">by Artist from Album</p>
<p id='dublab-extra-{{id}}' class="db-info"></p>
</div>
</div>
<div id='dublab-swf-{{id}}'></div>
<div id='dublab-upcoming-{{id}}' class="db-playlist">
Dublab Playlist | <a href='/{{id}}'>Permalink</a> | <a href='/editor/{{id}}'>Editor</a>
<ul>
{% for i in info %}
<li><span class="grip"><img src="/media/grip.gif"></span> {{i["artist"]}}, {{i["title"]}}</li>
{% endfor %}
</ul>

</div>
<script src='{{BASE_URL}}/{{id}}/js'></script>
